* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.body {
  font-family: 'Montserrat', sans-serif;
}

.header {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
   "icono1 icono icono3" 
   "nav nav nav";
  background-color: #F6EFE8;
}

.header__icono--1 {
  grid-area: icono1;
  padding-left: 50px;
  padding-top: 90px;
}

.header__icono--2 {
  padding-left: 5px;
  padding-top: 90px;
}

 .header__icono--3 {
  padding-top: 90px;
  padding-right: 100px;
  grid-area: icono3;
} 

.header__logo {
  grid-area: icono;
  width: 400px;
  height: 400px;
  margin-left: 225px;
}

.header__ul {
  grid-area: nav;
  padding-top: 0px;
  padding-bottom: 0px;
  list-style-type: none;
  display: flex;
  font-size: 20px;
  justify-content: center;
  
}

.header__li {
  color: black;
  text-decoration: none;
  margin: 50px;
}

.main {
  background-color: #F6EFE8;
}

.section {
  background-image: url(../Images/foto1.jpeg);
  background-size: cover;
  background-position: center;
  height: 1000px;
  
}

.section__h1 {
  color: #5D5F49;
  font-size: 40px;
  padding-top: 100px;
  padding-left: 50px;
}

.footer {
  background-color: white;
}

.footer__p {
  margin-top: 50px;
  font-size: 16px;
}

.footer__logo {
  margin-left: 1200px;
  margin-right: 800px;
  width: 200px;
  height: 200px;
}

@media screen and (min-width:320px) {
  
}