.footer {
  width: 100%;
  background-color: white;

  &__copyright {
    font-size: 16px;
    margin-left: 100px;
  }

  &__logo {
    margin-left: 700px;
    width: 200px;
    height: auto;
  } 
}



