.header {
  width: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 200px 100px;
  grid-template-areas:
   " . logo carrito" 
   " . nav . ";
  background-color: $bgColor;

                           // icono carrito

  &__icono__carrito {
    grid-area: carrito;
    padding-top: 90px;
    padding-right: 100px;
  } 

                                 // LOGO
  
  &__logo {
    grid-area: logo;
    width: 400px;
    height: auto;
    justify-self: center;
  }
}  

                        // barra de navegación

.nav {
 margin-left: auto;
 margin-right: auto;
}

.nav__ul {
    grid-area: nav;
    list-style-type: none;
    justify-content: center;
    display: flex;
    font-size: 20px;
  }
  
.nav__li {
    color: black;
    text-decoration: none;
    margin: 50px;
  }

                          // Barra de busqueda

// .search-box {
//      display: grid;
//     grid-area: search;
//     transform: translate( -50%, -50%);
//     background: white;
//     height: 40px;
//     border-radius: 40px;
//     padding: 10px;
//   }

// .search-box:hover > input {
//     width: 200px;
//     padding: 0 10px;
//   }

// .search-box:hover > .icon{
//     background: #536179;
//   }

// .icon:hover{
//   transform: rotate(360deg)
// scale(0.8);
// }  
// input{
//   width: 0;
//   border: none;
//   outline: none;
//   padding: 0;
//   background: none;
//   font-size: 1.1rem;
//     transition: 0.5s ease;
//   line-height: 40px;
//   color: #fff;
// }

// .icon {
//   color: black;
//   float: right;
//   width: 40px;
//   font-size: 1.3rem;
//   height: 40px;
//   border-radius: 50%;
//   background: white;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   transition: 0.4s;
//   cursor: pointer;
//   text-decoration: none;
// }