.header {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 300px 100px;
  grid-template-areas:
   "icono1 logo icono3" 
   "nav nav nav";
  background-color: $bgColor;

  &__icono--1 {
    grid-area: icono1;
    padding-left: 50px;
    padding-top: 90px;
  }

  &__icono--2 {
    padding-left: 5px;
    padding-top: 90px;
  }
  
  &__icono--3 {
    padding-top: 90px;
    padding-right: 100px;
    grid-area: icono3;
  } 

  &__logo {
    grid-area: logo;
    width: 400px;
    height: 400px;
    justify-self: center;
  }

  &__ul {
    grid-area: nav;
    list-style-type: none;
    display: flex;
    font-size: 20px;
  }
  
  &__li {
    color: black;
    text-decoration: none;
    margin: 50px;
  }
}